/*the body*/

body {
    /*the font*/
    font-family: "Roboto", "sans-serif";
    font-optical-sizing: auto;
    font-weight: 300;
    font-size: 18px;
    font-style: normal;
    font-variation-settings: "width" 100px;
    padding: 5px;
    margin-left: 45px;
    margin-right: 45px;
    color: rgb(0, 255, 60);
    background-color: black;
}

#wrapper {
    margin-top: 10px;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

/*nav*/

nav {
    margin-top: 50px;
    margin-bottom: 80px;
    line-height: 30px;
    display: grid;
    grid-template-columns: 100% 1fr;
}


.menu1 {
    display: flex;
    background: rgb(81, 81, 81);
    justify-content: space-around;
    padding: 5px;
    align-items: center;


}

.menu1 a {
    display: block;
}

.home {
    color: aqua;
}

.where {
    color: aqua;
}

.tools {
    color: aqua;
}

.examples {
    color: aqua;
}

.lawsuit {
    color: aqua;
}

.hamburger-menu {
    display: none;
    align-items: center;
    justify-content: center;
}

.hamburger-menu button {
    background: none;
    border: none;
    font-size: 2em;
    color: gray;
}

.hamburger-menu button .fa-bars {
    cursor: pointer;
}

.close-menu {
    display: none;
}

/*color page in navigation*/
nav a {
    text-decoration: none;
    color: black;
    /*changed the color*/
    font-weight: bold;

}

/*color of the page when the mouse is hovering over it*/
nav a:hover {
    color: aqua;
    /*changed the color*/
    cursor: pointer;
}

h1 {
    font-weight: 400;
    text-align: center;
    font-size: 35px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: white;
}

h2 {
    justify-content: space-around;
    font-weight: 400;
    text-align: center;
    font-size: 25px;
    /* margin-top: 35px; */
    margin-bottom: 35px;
    padding: 20px;
    color: white;
    border: 3px solid rgb(0, 255, 60);
}

h3 {
    font-weight: 400;
    text-align: center;
    font-size: 35px;
    margin-top: 35px;
    margin-bottom: 45px;
    color: rgb(0, 255, 60);
}

h4 {
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    color: rgb(0, 255, 60);
}

h6 {
    justify-content: space-around;
    font-weight: 400;
    text-align: center;
    font-size: 25px;
    margin-top: 15px;
    margin-bottom: 35px;
    color: white;
}

.menuI {
    text-align: right;
}

.menuI_active {
    text-align: right;
    color: black;
}

section {
    margin-bottom: 30px;
    text-align: justify;
}

article p:last-child {
    margin-bottom: 80px;
}

article h3 {
    margin-bottom: 10px;
    color: brown;
}

footer {
    margin-top: 30px;
    min-height: 30px;
    font-size: 18px;
    text-align: center;
    font-style: italic;
    color: lightgray;
}

footer a {
    text-decoration: none;
    color: white;
}

.books {
    display: grid;
    grid-template-columns: repeat (12, 1fr);
    max-width: 100%;
    gap: 16px;
}

.hover-text {
    opacity: 0;
    position: absolute;
    bottom: 30px;
    left: 10px;
    background-color: #000;
    padding: 8px;
    border-radius: 10px;
    color: white;
    transition: opacity 0.3s ease;
}

.books img {
    width: 100%;
    transition: transform 0.3s ease, opacity 0.3s ease;
    border: 3px solid white;
}

.books figure {
    position: relative;
    display: inline-block;
    cursor: pointer;

}

.books figure:hover .hover-text {
    display: block;
    opacity: 1;
}

.books figure:hover img {
    transform: scale(1.05);
    opacity: 0.9;
    border-radius: 30px
}

.im:hover {
    filter: blur(2px);
    opacity: 0.9;
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;

}



.im {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    box-sizing: border-box;
    display: block;
}

.im1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

.im2 {
    grid-column: 4 / 7;
    grid-row: 1 / 3;
}


.im3 {
    grid-column: 7 / 13;
    grid-row: 1 / 6;
}

.im4 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 3/6;
}

.im5 {
    grid-column: 4 / 7;
    grid-row: 3 / 5;
}

.im6 {
    grid-column: 1 / 7;
    grid-row: 5 / 9;
}

.im7 {
    grid-column: 7 / 10;
    grid-row: 6 / 7;
}

.im8 {
    grid-column: 10 /13;
    grid-row: 6 / 7;
}

.im9 {
    grid-column: 7 /10;
    grid-row: 7 / 9;
}

.im10 {
    grid-column: 10 /13;
    grid-row: 7 / 9;
}

.im11 {
    grid-column: 1 / 7;
    grid-row: 9 / 13;
}

.im12 {
    grid-column: 7 / 13;
    grid-row: 9 / 13;
}

/*

.books img {

    display: block;

    width: 100%;

    height: auto;

}

*/



/*

.books>div {

    text-align: center;

    padding: 10px;

}

*/



/*

.books figure {

    margin: 15px;

}

*/

/*font size, position, weight and color of the title of the books*/

article figure figcaption {
    text-align: left;
    margin-top: 1px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    /*changed the color*/
}

.social {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2px 0;
    color: white;
}

.social .fa {
    font-size: 1em;
    padding: 5px;
    color: white
}

.storie-left {
    margin-top: 30px;
    grid-column: 1 / 7;
}

.storie-right {
    text-align: center;
    grid-column: 7 / 13;
    color: deepskyblue;
}

.storie-right p {
    text-align: left;
    color: rgb(0, 255, 60);
}

.header-link {
    margin-top: 40px;
    margin-bottom: 50px;
}

.header-link a {
    justify-content: space-around;
    font-weight: 400;
    text-align: center;
    font-size: 35px;
    margin-top: 35px;
    margin-bottom: 35px;
    color: white;

    text-decoration: none;
    /* removes underline */

}

.header-link a:hover {
    text-decoration: underline;
    /* optional hover underline */
}


.source-font {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.source-font a {
    justify-content: space-around;
    font-weight: 400;
    text-align: center;
    font-size: 15px;
    color: aqua;

    text-decoration: none;
    /* removes underline */

}

.source-font a:hover {
    text-decoration: underline;
    /* optional hover underline */
}

.ref-link {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: left;
}

.ref-link a {
    justify-content: space-around;
    font-weight: 400;
    font-size: 15px;
    color: rgb(0, 255, 60);

    text-decoration: none;
    /* removes underline */

}

.ref-link a:hover {
    text-decoration: underline;
    /* optional hover underline */
}


/* hover dropdown list*/
/* Container */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Hidden menu */
.dropdown-content {
    display: none;
    position: absolute;
    background: rgb(81, 81, 81);
    min-width: 120px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    padding: 8px 0;
}

/* Each item */
.dropdown-content a {
    display: block;
    padding: 8px 12px;
    color: black;
    text-decoration: none;
}

.dropdown-content a:hover {
    background: rgb(100, 100, 100);
}

/* Show on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Optional: change link hover style */
.drop-link:hover {
    color: aqua;
}

.p-font {
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 15px;
    margin-bottom: 15px;
}

/*submission form*/
:root {
    --bg: #f7f9fb;
    --card: #ffffff;
    --accent: #1f6feb;
    font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, Arial;
}

body {
    margin: 0;
    background: rgb(15, 15, 15);
    color: rgb(0, 255, 60);
}

.wrap {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.card {
    background: black;
    padding: 30px;
    border-radius: 12px;
    max-width: 400px;
    width: 100%;
    box-shadow: 0 8px 50px rgba(229, 229, 229, 0.326);
}

form {
    display: grid;
    gap: 12px;
}

label {
    font-size: 13px;
}

input {
    width: 90%;
    padding: 10px;
    border: 1px solid rgb(0, 255, 60);
    border-radius: 8px;
    font-size: 14px;
    background: black;
    color: white;
}

button {
    padding: 10px 14px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    border: none;
}

button[type="submit"] {
    background: var(--accent);
    color: white;
}

button[type="reset"] {
    background: #262727;
    color: #eef6ff;
}

.controls {
    display: flex;
    gap: 10px;
}

/* Overlay messages */
.overlay {
    display: none;
    padding: 60px 20px;
    min-height: 200px;
    text-align: center;
}

.overlay.show {
    display: flex;
    justify-content: center;
    align-items: center;
}

#mainMessage {
    font-size: 20px;
    font-weight: 600;
    white-space: pre-wrap;
    word-break: break-word;
}

/* 404 */
.warning {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 26px;
    font-weight: 700;
    width: 100%;
    text-align: center;
}

@media (max-width: 1024px) {

    .hamburger-menu {
        display: flex;
        align-items: center;
    }

    .menu1 {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: white;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 1000;
    }

    .menu1 a {
        padding: 20px;
    }

    .menu1 a,
    .menu1 a:hover {
        text-decoration: block;
        color: gray;
        background-color: transparent;
    }

    .menu1 a:hover {
        color: cyan;
    }

    .close-menu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 2em;
        color: gray;
    }

    .menu-deployed {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: black;
        z-index: 1000;
        padding-top: 50px;
    }

    button {
        border-width: 0px;
        margin-left: 0px;
        background-color: black;
        cursor: pointer;
    }

    nav {
        margin: 0 auto;
        margin-bottom: 50px;
        width: 90%;
        box-sizing: border-box;
        padding: 10px 0;
        line-height: relative;
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        border-bottom: 4px solid #000;
        background: #000;
        z-index: 100;
        color: white;
    }

    nav a {
        color: gray;
    }

    h1 {
        margin-top: 50px;

    }

    #wrapper {
        margin-top: 50px;
        position: relative;
        width: 90%;
        margin: 0 auto;
        float: none;
    }

    footer {
        margin-top: 70px;
        font-size: 10px;
    }

    .books {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        padding: 10px;
        grid-auto-flow: row dense;
    }

    .books [class^="im"] {
        grid-column: auto !important;
        grid-row: auto !important;
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .books img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }




}