/*the body*/

body {
    /*the font*/
    font-family: "Roboto", "sans-serif";
    font-optical-sizing: auto;
    font-weight: 180;
    font-style: normal;
    font-variation-settings: "width" 90px;
    padding: 0;
    margin-left: 100px;
    color: white;
    background-color: black;
}

#wrapper {
    margin-top: 50px;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

/*nav*/

nav {
    margin-top: 50px;
    margin-left: 50px;
    line-height: 30px;
    display: grid;
    grid-template-columns: 60% 1fr;
}



.menu1 {
    display: flex;
    background: white;
    justify-content: space-around;
    align-items: center;
}

.menu1 a {
    display: block;
}

.hamburger-menu {
    display: none;
    align-items: center;
    justify-content: center;
}

.hamburger-menu button {
    background: none;
    border: none;
    font-size: 2em;
    color: purple;
}

.hamburger-menu button .fa-bars {
    cursor: pointer;
}

.close-menu {
    display: none;
}

.logo {
    text-align: left;
}

.logo img {
    width: 200px;
    height: 50px;
}

/*color page in navigation*/
nav a {
    text-decoration: none;
    color: blueviolet;
    /*changed the color*/
    font-weight: bold;
}

/*color of the page when the mouse is hovering over it*/
nav a:hover {
    color: aqua;
    /*changed the color*/
}

h1 {
    font-weight: 400;
    text-align: left;
    font-size: 35px;
    margin-left: 50px;
    margin-bottom: 35px;
    color: cyan;
}

.menuI {
    text-align: right;
}

.menuI_active {
    text-align: right;
    color: blueviolet;
}

section {
    margin-bottom: 30px;
    text-align: justify;
}

article p:last-child {
    margin-bottom: 80px;
}

article h3 {
    margin-bottom: 10px;
    color: brown;
}

footer {
    margin-top: 30px;
    min-height: 30px;
    font-size: lighter;
    text-align: right;
    font-style: italic;
}

footer a {
    text-decoration: none;
    color: white;
}

.books {
    display: grid;
    grid-template-columns: repeat (12, 1fr);
    max-width: 100%;
    gap: 16px;
}

.hover-text {
    opacity: 0;
    position: absolute;
    bottom: 30px;
    left: 10px;
    background-color: #000;
    padding: 8px;
    border-radius: 10px;
    color: white;
    transition: opacity 0.3s ease;
}

.books img {
    width: 100%;
    transition: transform 0.3s ease, opacity 0.3s ease;
    border: 3px solid white;
}

.books figure {
    position: relative;
    display: inline-block;
    cursor: pointer;

}

.books figure:hover .hover-text {
    display: block;
    opacity: 1;
}

.books figure:hover img {
    transform: scale(1.05);
    opacity: 0.9;
    border-radius: 30px
}

.im:hover {
    filter: blur(2px);
    opacity: 0.9;
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;

}



.im {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    box-sizing: border-box;
    display: block;
}

.im1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

.im2 {
    grid-column: 4 / 7;
    grid-row: 1 / 3;
}


.im3 {
    grid-column: 7 / 13;
    grid-row: 1 / 6;
}

.im4 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 3/6;
}

.im5 {
    grid-column: 4 / 7;
    grid-row: 3 / 5;
}

.im6 {
    grid-column: 1 / 7;
    grid-row: 5 / 9;
}

.im7 {
    grid-column: 7 / 10;
    grid-row: 6 / 7;
}

.im8 {
    grid-column: 10 /13;
    grid-row: 6 / 7;
}

.im9 {
    grid-column: 7 /10;
    grid-row: 7 / 9;
}

.im10 {
    grid-column: 10 /13;
    grid-row: 7 / 9;
}

.im11 {
    grid-column: 1 / 7;
    grid-row: 9 / 13;
}

.im12 {
    grid-column: 7 / 13;
    grid-row: 9 / 13;
}

/*

.books img {

    display: block;

    width: 100%;

    height: auto;

}

*/



/*

.books>div {

    text-align: center;

    padding: 10px;

}

*/



/*

.books figure {

    margin: 15px;

}

*/

/*font size, position, weight and color of the title of the books*/

article figure figcaption {
    text-align: left;
    margin-top: 1px;
    font-size: 15px;
    font-weight: bold;
    color: darkblue;
    /*changed the color*/
}

.social {
    display: flex;
    flex-direction: column;
    align-items: right;
    text-align: right;
    padding: 2px 0;
    color: white;
}

.social .fa {
    font-size: 1em;
    padding: 5px;
    color: white
}

.storie-left {
    margin-top: 30px;
    grid-column: 1 / 7;
}

.storie-right {
    text-align: center;
    grid-column: 7 / 13;
    color: deepskyblue;
}

.storie-right p {
    text-align: left;
    color: white;
}


@media (max-width: 1024px) {

    .hamburger-menu {
        display: flex;
        align-items: center;
    }

    .menu1 {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: white;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 1000;
    }

    .menu1 a {
        padding: 20px;
    }

    .menu1 a,
    .menu1 a:hover {
        text-decoration: block;
        color: gray;
        background-color: transparent;
    }

    .close-menu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 2em;
        color: gray;
    }

    .menu-deployed {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        background-color: WHITE;
        z-index: 1000;
        padding-top: 50px;
    }

    button {
        border-width: 0px;
        background-color: white;
    }

    nav {
        margin: 0 auto;
        margin-bottom: 50px;
        width: 90%;
        box-sizing: border-box;
        padding: 10px 0;
        line-height: relative;
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        border-bottom: 4px solid #000;
        background: #000;
        z-index: 100;
        color: white;
    }

    nav a {
        color: darkmagenta;
    }

    h1 {
        margin-top: 50px;
    }

    #wrapper {
        margin-top: 50px;
        position: relative;
        width: 90%;
        margin: 0 auto;
        float: none;
    }

    footer {
        margin-top: 70px;
        font-size: 10px;
    }

    .books {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        padding: 10px;
        grid-auto-flow: row dense;
    }

    .books [class^="im"] {
        grid-column: auto !important;
        grid-row: auto !important;
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .books img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }




}