/*the body*/
body {
    /*the font*/
    font-family: "Roboto", "sans-serif";
    font-optical-sizing: auto;
    font-weight: 150;
    font-style: normal;
    font-variation-settings: "width" 100px;
    padding: 0;
    margin: 0;
}

/*the wrapper*/
#wrapper {
    margin-top: 0px;
    float: right;
    width: 60%;
    margin-right: 50px;
}

/*first header*/
header h1 {
    text-align: center;
    font-size: 25px;
    margin-bottom: 5px;
    color: navy;
    /*changed the color*/

}

/*second header*/
header h2 {
    margin-top: 0px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 20px;
    color: blue;
    /*changed the color*/

}

/*third header*/
header h3 {
    margin-top: 0px;
    margin-bottom: 30px;
    text-align: right;
    font-size: 20px;
    color: darkgray;

}

header img {
    margin-top: 50px;
    width: 100%;
}

/*naviagtion*/
nav {
    margin-top: 50px;
    margin-left: 50px;
    float: left;
    width: 15%;
    line-height: 30px;
    position: fixed;

}

/*color page in navigation*/
nav a {
    text-decoration: none;
    color: blueviolet;
    /*changed the color*/
    font-weight: bold;
}

/*color of the page when the mouse is hovering over it*/
nav a:hover {
    color: aqua;
    /*changed the color*/
}

/*color of the selected page in navigation*/
/*I added this to indicate which page the viewer is currently in*/
.nav-selected {
    color: chartreuse;
}

section {
    margin-bottom: 30px;
    text-align: justify;

}

article p:last-child {
    margin-bottom: 80px;
}

article h3 {
    margin-bottom: 10px;
    color: brown;
    /*changed the color*/
}

/*the footer*/
footer {
    margin-top: 30px;
    min-height: 30px;
    font-size: lighter;
    text-align: right;
    font-style: italic;
}

/*color of the footer*/
footer a {
    text-decoration: none;
    color: darkgray;
    /*changed the color*/
}

/*the books in 3 columns*/
.books {
    display: grid;
    grid-template-columns: auto auto auto;
    max-width: 100%;
    gap: 10px;
}

/*images of the books*/
.books img {
    display: block;
    width: 100%;
    height: auto;
}

.books>div {
    text-align: center;
    padding: 10px;
}

.books figure {
    margin: 15px;
}

/*font size, position, weight and color of the title of the books*/
article figure figcaption {
    text-align: left;
    margin-top: 1px;
    font-size: 15px;
    font-weight: bold;
    color: darkblue;
    /*changed the color*/
}

/*size of the images of the books*/
table img {
    max-width: 100%;
    max-height: 100%;
}

/*This is for the phone*/

@media (max-width: 480px) {
    nav {
        margin: 0 auto;
        margin-bottom: 50px;
        width: 100%;
        box-sizing: border-box;
        padding: 10px 0;
        line-height: relative;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        /*color for the border in navigation*/
        border-bottom: 4px solid #000;
        background: #000;
        z-index: 100;
        color: white;

    }

    /*the font color in navigation*/
    nav a {
        color: darkmagenta;
        /*changed the color*/

    }

    h1 {
        margin-top: 50px;
    }

    #wrapper {
        margin-top: 50px;
        position: relative;
        width: 90%;
        margin: 0 auto;
        float: none;
    }

    /*the footer*/
    footer {
        margin-top: 70px;
        font-size: 10px;
    }

    /*the books in 2 columns*/
    .books {
        grid-template-columns: auto auto;
        gap: 20px;
    }
}